<h1><%= t('.test_completed_header', title: @test_passing.test.title) %></h1>

<% if @test_passing.success? %>
  <p><%= t('.test_passed')%></p>
  <p><%= t('.score') %>: <span class="passed"><%= @test_passing.result %>%</span></p>
<% else %>
  <p><%= t('.test_failed') %></p>
  <p><%= t('.score') %>: <span class="failed"><%= @test_passing.result %>%</span></p>
<% end %>
<%= link_to t('general.back'), tests_path %>
