<h1><%= t('.in_progress_header', title: @test_passing.test.title) %></h1>

<p><%= @test_passing.current_question.body %></p>

<%= render 'shared/errors', resource: @test_passing %>

<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
  <%= content_tag :div, nil, class: 'progress-bar overflow-visible bg-primary',
                  data: { progress_percent: current_progress_percents } do %>
    <%= t('.questions_progress', current: @test_passing.current_question_number, total: @test_passing.test.questions.size) %>
  <% end %>
</div>

<%= form_with url: test_passing_path(@test_passing), local: true, data: { turbo: false }, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passing.current_question.answers, :id, :body do |b| %>

    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to t('.gist_question'), gist_test_passing_path(@test_passing), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>
