<h1><%= t("hello") %></h1>
<p><%= @resource.email %>!</p>

<p><%= t("devise.mailer.unlock_instructions.body") %></p>

<p><%= t("devise.mailer.unlock_instructions.url") %></p>

<p><%= link_to t("devise.mailer.unlock_instructions.unlock"), unlock_url(@resource, unlock_token: @token) %></p>
