<h1><%= t('tests.index.test_list_header') %></h1>

<%= render 'shared/errors', resource: @test %>
<p>
  <%= link_to t('.create'), new_admin_test_path %>
</p>
<table>
  <tr>
    <th><%= t('tests.index.title') %></th>
    <th><%= t('tests.index.question_count') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
