<tr>
  <td class="text-center"><%= test.title %></td>
  <td class="text-center"><%= test.questions.count %></td>
  <td class="text-center"><%= test.level %></td>
  <td class="text-center"><%= test.timer %></td>
  <td><%= button_to t('.start'), start_test_path(test), class: 'btn btn-success'%></td>
</tr>
