<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Panel | TestGuru</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src='javascript/packs/application.js' data-turbolinks-track= 'reload'></script>
</head>
<body>
<%= render 'shared/navbar' %>
<%= render 'shared/flash' %>

<%= yield %>
</body>
</html>
